
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
}

:root{
    --main-color:#ff4c68;
    --white:#FFFFFF;
}

a{
    color:#000000;
}

ul{
    list-style: none;
}
h1, h2, h3{
    font-family: 'Montserrat';
}
.container-fluid{
    padding:3% 15% 7%;
}

/*sections color and backround color*/

.white-section{
    color:#000000;
    background-color:var(--white)  /*this for suspending transperency of that div and to cover iphone img*/
}

.colored-section{
    background:var(--main-color);
    color:var(--white)
}

/* navbar */


#title nav{
    padding:0 0 4.5rem;
}

#title .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.2rem;
    font-weight: bold;
}


#title nav .nav-item{
    padding:0 20px
}

#title nav a{
    font-size: 1.2rem; 
 }
/* navbar */

/* intro section */
.intro h1{
font-weight: 900;  /*this is the bold style of that font*/
line-height: 1.5;
font-size: 4rem;
padding-bottom:40px
}

/*styling android and ios icons*/
.intro button{
    margin:0 10px 10px 0
}

 button:hover .first{
    color:#32DE84;
}

 button:hover .second{
    color:#1BA3F7;
}

/* intro iphone image */


.iphone-img img{
    width: 60%;
    transform:rotate(25deg);
    position: absolute;
    right: 0;
}
/* intro section */


/* features section */

#features{
    padding:7% 15%;
    position: relative;
}

#features i{
    color:#ef8172;
    margin-bottom: 1rem;
    transition: color .3s ease;
}

#features i:hover{
    color:var(--main-color);
}

#features h3{
    font-size-adjust: 1.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

#features p{
    color: #8f8f8f;
}

.feature-box{
    padding:5%;  /*this is to shorten the line of paragraph*/
}


/* start testimonials section */

#testimonials{
background-color:#ef8172;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23fbf7f7' fill-opacity='0.12'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#testimonials h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    
}

#testimonials .testimonial-img{
    width: 10%;
    margin:20px;
}

#testimonials .carousel-item{
    padding:7% 20%;
    transition: opacity .3s ease-in-out;
}




/* start press section */
#press{
    background-color: #ef8172;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23fbf7f7' fill-opacity='0.12'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-bottom: 3%;
}

#press .press-logo{
    width: 10%;
    margin:20px 20px 50px;
}



/*start pricing section*/

#pricing{
    padding-top:5%;
    padding-bottom: 5%;
    text-align: center;
}

#pricing .price-card{
    margin: 20px 0;
    padding: 3.5rem;
    border:1px solid rgba(0, 0, 0, 0.233)
}

#pricing .price-card h2{
    font-weight: bold;
}


#pricing .price-card .card-title{
    padding:5% 0
}

#pricing .price-card .card-header{
    background-color: var(--main-color);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23b62f45' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
        color:var(--white);
}
#pricing .price-card .price-button{
    background-color: var(--main-color);
    color: var(--white);
}



/*start CTA section*/

#cta{
    text-align:center;
    padding:5% 22%
}


#cta h3{
    font-weight: bold;
    font-size:3.5rem;
    line-height:1.5;
    padding-bottom:4%; 
}

#cta button{
    margin:2%
}


/*start footer*/

#footer{
    padding:3% 15% 1% 15%;
    text-align:center
}

#footer a{
    transition:color .2s ease-out;
    margin: 0 1rem
}


#footer a:hover{
    color:var(--main-color);
}

#footer p{
    margin-top:2rem;
    color:#888888;
}







/* media queries */

@media (max-width: 1200px) {
    #title{
        text-align:center
    }

    .iphone-img img{
        position: static;
        transform: rotate(0);
    }

    .intro h1{
        font-size: 2.5rem;
    }

    /*user image inside the carousel*/
    #testimonials #testimonials-carousel .carousel-item img{
        width:20%
    }
}

